<%- include('templates/header.ejs') %>
<h2 style="margin-bottom: 50px; margin-top: 50px;">Contacto</h2>
<main class="cards-container width-content">
    <div class="cards-container width-content">
    <article class="card3">
        <img style="width: 500px;" src="/img/contacto/contacto.jpg" alt="Camiseta con el logo de creArt con fondo de personas creando arte">
        <div class="card-content">
          <h3>Teléfono:</h3>
          <p>933568704</p>
          <h1>Contactar a Creart</h1>
          <br>
          <h3>Email:</h3>
          <ul>
              <li><a href="mailto:info@creart.org.es">Atención general: info@creart.org.es</a></li>
              <li><a href="mailto:carol.pujadas@creart.org.es">Directora: carol.pujadas@creart.org.es</a></li>
              <li><a href="mailto:chene.gomez@creart.org.es">Presidente: chene.gomez@creart.org.es</a></li>
          </ul>
        </article>

        <article class="card3">
          <div class="card-content">
            <h3>Dirección postal:</h3>
            <p>Carrer Cortines, 23, 4t 2a, 08003 Barcelona</p>
            <div class="cards-container">
            <h1>Mapa de OpenStreetMap</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.288128610218!2d2.177766675534052!3d41.38954869586192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2fcbe809e29%3A0xf1f16406eecf8649!2sCarrer%20d&#39;En%20Cortines%2C%2023%2C%204t%202a%2C%20Ciutat%20Vella%2C%2008003%20Barcelona!5e0!3m2!1ses!2ses!4v1718869257055!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
            </div>
          </article>
</div>
</main>
<%- include('templates/footer.ejs') %>
