<%- include('templates/header.ejs') %>
<main class="width-content">
    <h2 class="title-primary">Cooperación internacional</h2>
    <p class="paragraph">
      Nuestras intervenciones en el ámbito de la cooperación internacional sitúan
      a las organizaciones y personas con las que trabajamos en el centro de los
      proyectos para contribuir a un desarrollo viable y sostenible que respete
      las culturas locales donde las personas destinatarias son el motor del
      cambio.
    </p>
  <h4 class="title-tertiary">Mini Documental</h4>
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/SbsN6MaVC24"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  <h3 class="title-secondary">Escenario</h3>
  <p class="paragraph">
    Por esta razón, nuestras acciones ofrecen herramientas educativas que, a
    través del arte, fomentan la participación, el respeto, el diálogo y la
    tolerancia, para construir un mundo más justo. Desde su nacimiento, en 2006,
    Creart ha desarrollado proyectos en diversos ámbitos: por un lado, ha estado
    trabajando mediante proyectos de cooperación internacional (siempre con un
    componente educativo) en Senegal, Colombia, Irán, Afganistán, y de manera
    continuada especialmente en los territorios palestinos ocupados de
    Cisjordania y la franja de Gaza. <br> <br>
    En estas áreas se ha especializado en
    proyectos de acompañamiento psicosocial a grupos de población refugiada o
    desplazada formados por niños y mujeres (mayoritariamente), y de otras
    comunidades también en situación de vulnerabilidad social en países en
    contextos bélicos o post conflicto y desastres naturales. Durante este
    tiempo, además de trabajar directamente con la población, Creart ha llevado
    a cabo durante años formaciones a grupos de educadores/as voluntarios de
    organizaciones locales en campos de refugiados, de zonas periféricas a los
    núcleos urbanos más importantes y grupos de counselors de la Agencia de
    Naciones Unidas para las personas refugiadas palestinas en Oriente Medio
    (UNRWA). <br> <br> Asimismo, con los años Creart se ha especializado en la formación
    de personas formadoras (psicólogos, trabajadores/as sociales y jóvenes
    voluntarios/as) de las contrapartes locales para dotarlas de herramientas
    para el acompañamiento psicosocial de la infancia a través del arte, dando
    así apoyo a los programas de atención psicológica y sanitaria de las
    organizaciones locales con las que trabaja nuestra organización.
  </p>
</main>
<%- include('templates/footer.ejs') %>
