<%- include('templates/header.ejs') %>
    <main class="width-content">
        <h2 class="title-primary">Equipo</h2>
        <p class="paragraph"><strong>Creart </strong> somos un equipo de personas socias y colaboradoras movidas por el compromiso social y la voluntad de involucrarnos en procesos que nos hagan cuestionarnos el mundo en el que vivimos, entender las causas que provocan las desigualdades y promover procesos de movilización para revertirlas.</p>
        <p class="paragraph">Somos <strong>un equipo de personas con trayectorias diversas</strong> en los siguientes ámbitos: educación, cooperación internacional, derechos humanos, sociología, psicología, artes, cultura de paz, interculturalidad crítica y género que trabajamos desde una metodología socioafectiva mediante diferentes disciplinas artísticas (plásticas, escénicas, fotografía…), siempre desde la justicia global y la ética de los cuidados para promover un modo de estar en el mundo respetuosa con las personas y el medio.</p>
        <p class="paragraph">Entendemos <strong>Creart</strong> como un espacio de crecimiento personal y laboral; como una plataforma de aprendizaje colectivo en la que se combinan la experiencia de la entidad en las áreas consolidadas y la experiencia propia individual de las personas que forman parte. Esta premisa se sigue también en el marco de la cooperación internacional, enfocando las formaciones con los equipos de educadores/as y personas voluntarias desde la creación de herramientas personales que esta población destinataria pueda incorporar a sus recursos propios sostenibles a lo largo del tiempo.</p>
        <p class="paragraph">Actualmente <strong>Creart</strong> está formada por un equipo técnico de siete personas en sede y diferentes grupos de personas voluntarias en las zonas donde trabajamos que llevan a cabo la gestión y la implementación de proyectos de cooperación internacional, de educación para la justicia global y acción humanitaria en los ámbitos social, educativo y sanitario.</p>
        <h3 class="title-secondary">Como nos organizamos</h3>
        <p class="paragraph">En cuanto a la toma de decisiones, Creart se vertebra en el equipo técnico operativo y una junta directiva, órgano supeditado al voto de las personas socias mediante las asambleas generales de socios/as donde se presentan los presupuestos y el balance anuales, y se deciden las líneas estratégicas de la organización en los diferentes sectores de intervención.</p>
        <img src="img/equipo/organigrama.avif" alt="">
    </main>

<%- include('templates/footer.ejs') %>