<%- include('templates/header.ejs') %>
<div class="container">
    <img src="/img/error/404.jpg" alt="error 404">
</div>
<style>
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container img {
        width: 800px;
        max-width: 100%;
    }
</style>
<%- include('templates/footer.ejs') %>
