<%- include('templates/header.ejs') %>

    <main class="width-content">
        <h2>Galeria de imagenes</h2>

        <div class="container-galeria">
            
            <div class="img-galeria">
                <img src="img/galeria/1.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/2.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/3.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/4.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/5.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/6.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/7.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/8.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/9.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/10.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/11.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/12.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/13.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/14.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/15.avif" alt="">
            </div>
            <div class="img-galeria">
                <img src="img/galeria/16.avif" alt="">
            </div>
        </div>
    </main>

    <%- include('templates/footer.ejs') %>