<%- include('templates/header.ejs') %>
<main class="width-content">
<h2>Creart en Irán</h2>
<p>Creart apoya a las personas afganas refugiadas en Irán a través de la colaboración con los proyecto educativos que Norwegian Refugee Council realiza en los campos de refugiados del país.</p>
<h3>Marco Histórico</h3>
<p>Irán acoge a una de las poblaciones desplazadas más grandes del mundo, casi un millón de personas afganas registradas. Se estima que más de dos millones de afganos viven en el país, ya sea sin documentación o con pasaporte afgano. Muchos han estado en el país durante 40 años, son refugiados de de tercera o incluso cuarta generación, nacidos y criados en Irán.

    Las políticas progresistas de Irán se orientan a la inclusión de las personas refugiadas en los servicios y la economía nacionales, incluyendo el acceso al sistema nacional de atención médica, permisos de trabajo para varias ocupaciones y documentación. Desde el 2015, todos los niños afganos tienen acceso a la escuela primaria y secundaria, sin importar su condición.
    
    El apoyo de Irán a los refugiados afganos supera con creces el de muchas organizaciones internacionales, sin embargo, las dificultades económicas que se están viviendo en el país agudizan la necesidad de que Irán reciba un mayor apoyo humanitario para garantizar la oferta de educación y de otros servicios para las personas refugiadas: poder disponer de un alojamiento seguro, mantener a los niños en la escuela y poder cubrir los gastos que genera la renovación de la documentación civil. Sin documentación legal, las familias pueden ser deportadas a un Afganistán que todavía no está preparado para asegurar el bienestar de los retornados.</p>

<h4>Intervención de Creart</h4>
<ul>
    <li>Apoyamos a personas afganas refugiadas en Irán a través de uno de los programas de educación de la organización humanitaria Norwegian Refugee Council en el Campo de refugiados de Rafsanjan, al sureste del país.</li>
    <li>En este contexto trabajamos en procesos centrados en la mejora de las capacidades de grupos de mujeres y formadoras a través del arte y la creatividad.</li>
    <li>Els resultats més rellevants obtinguts estan relacionats amb l’assoliment del reforç de competències com la confiança, l’autoestima, l’apoderament i la pertenencia a un grup heterogeni, d’una banda; i de l’altra, amb la assimilació i integració de capacitats tècniques i psicològiques per a treballar amb grups de població infantil refugiada.</li>
    <li>Para el grupo de formadoras, el resultado más importante es la integración y colaboración entre las personas participantes en la formación, provenientes de diferentes etnias con serias rivalidades y diferencias culturales.</li>
</ul>
</main>
<%- include('templates/footer.ejs') %>