<%- include('templates/header.ejs') %>
<main class="width-content">
  <h2 class="title-primary">La educación para una justicia global</h2>
  <p class="paragraph">
    Desde Creart trabajamos para garantizar el
    <strong>derecho a la educación en plenitud</strong> de niños y jóvenes
    también a nivel local. Mediante <strong> el arte y la creatividad </strong>, facilitamos
    herramientas y recursos a maestros y educadores/as para reforzar su tarea a
    la hora de promover una conciencia crítica para con las causas que generan
    violencias.
  </p>
  <h4 class="title-tertiary">
    Vídeo del proyecto «Caminos y cruces del arte y la educación para la
    Justicia Global» en la Escuela Cervantes (Ciutat Vella):
  </h4>
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/pRSHS6Gv_jU"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <h4 class="title-tertiary">
    Vídeo del proyecto «Jóvenes artivistas catalanes por los derechos humanos de
    la población refugiada de Palestina» en agrupación con UNRWA Catalunya
    (Barcelona i Rubí):
  </h4>
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/TMmLUAmTMZI"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  <h3 class="title-secondary">Escenario</h3>
  <p class="paragraph">
    Entendemos que en un contexto global donde las desigualdades se acentúan
    cada vez más (también a escala local) los espacios educativos (formales y de
    fuera escuela) toman un papel capital en la promoción de aprendizajes que
    permiten a los niños entender mejor el mundo y les enseña a vivir desde una
    toma de corresponsabilidad y compromiso esenciales. Trabajar desde la
    reflexión sobre la situación que vivimos como planeta significa entender
    mejor cómo somos y qué relación tenemos con el entorno. <br />
    <br />

    <strong>La educación para la justicia global (EpJG)</strong> es un buen marco para acompañar
    a maestros, educadores as, niños y jóvenes para que se conviertan en
    personas más inquietas, más informadas, más solidarias y más movilizadas
    contra las desigualdades y las violencias. Como entidad, contamos con una
    larga trayectoria de proyectos de <strong>educación para la paz a través del arte</strong> en
    nuestro país en ámbitos formales y no formales, y con diferentes colectivos.
    <br /><br />
    En los últimos diez años hemos llevado a cabo un gran número de <strong>formaciones
    de profesorado</strong> y talleres con niños en más de una treintena de escuelas
    sobre provención para la resolución positiva de los conflictos y la
    construcción de paz. En los últimos años, estamos trabajando en las
    competencias curriculares de educación emocional y en valores en diferentes
    escuelas. Desde 2016 nuestra principal alianza vinculada a la educación
    formal es la Asociación de Maestros Rosa Sensat, con la que colaboramos en
    diferentes proyectos de EpJG, formaciones o en el marco de la Escuela de
    Verano. <br /><br />

    Dentro de la educación no formal, Creart hace diez años que lleva a cabo
    asesoramientos técnicos y formaciones en metodologías creativas y educación
    para la paz para educador y educadoras, así como talleres con infancia en
    riesgo de exclusión social en centros de acogida y centros abiertos, también
    talleres sobre resolución de conflictos y justicia ambiental en espacios de
    ocio infantil y juvenil. En este ámbito, Creart trabaja en alianza con
    diferentes entidades significativas del ocio educativo, tales como la
    Escuela Libre el Sol, en proyectos de <strong>aprendizaje y servicio</strong> o con la
    Fundación Catalana del Esplai (Fundesplai) en el desarrollo de programas a
    diferentes esplais y mediante la formación de educadores/as. Desde Creart
    trabajamos en colaboración con el <strong>territorio</strong>, siguiendo las líneas
    estratégicas de los diferentes distritos o de ciudad para complementarlas.
  </p>

  <a href="https://www.creart.org.es/wp-content/uploads/2024/04/ESTRATEGIA-EPJG-CREART.pdf"><strong class="link-fuerte">Estrategia de Creart para la Educación para la Justicia Global 2023-2027 [haz click para descargar]</strong></a>
</main>
<%- include('templates/footer.ejs') %>
