<%- include('templates/header.ejs') %>
<main class="width-content">
<h2 class="title-primary">Memoria</h2>
<p class="paragraph">Creart publica anualmente la memoria de actividades donde se recogen todos los proyectos y actividades que realizamos a lo largo del año. Aquí encontrarás toda la información sobre el área de Cooperación Internacional y Educación para La Justicia Global, así como la memoria económica anual.</p>
<h4 class="title-tertiary">Consultar y descargar los documentos:</h4>
<ul class="list">
    <li class="list-item"><a href="https://drive.google.com/file/d/16AANlx8C1WVv7PNcJ1yPc5g06l0Tk99Z/view" target="_blank">Memoria de actividades 2023</a></li>
    <li class="list-item"><a href="https://www.creart.org.es/wp-content/uploads/2024/04/Balanc-situacio-Creart-2023-1-1.pdf" target="_blank">Balance económico 2023</a></li>
    <li class="list-item"><a href="https://www.creart.org.es/wp-content/uploads/2024/04/perduesiguanys-1.pdf" target="_blank">Pérdidas y ganancias 2023</a></li>
</ul>
</main>
<%- include('templates/footer.ejs') %>