<%- include('templates/header.ejs') %>

<main class="width-content">
    <div>
        <h2 class="title-primary">Nosotros</h2>
        <div class="paragraph">
            <p>Creart nace en 2006 con el fin de apoyar y dar voz a la población infantil más vulnerabilizada en el marco de los derechos humanos. Durante estos años hemos hecho acompañamiento psicosocial a centenares de niños y niñas a través del arte y la educación transformadora.
                Trabajamos desde la educación para la justicia global, la educación para la paz y la transformación social, la equidad de género, la defensa de los derechos humanos y la ciudadanía universal, el medioambiente y la acción humanitaria.
                <br>
                <strong><a href="https://www.creart.org.es/wp-content/uploads/2024/04/estatutos_comprimidos.pdf" target="_blank">Consulta los Estatutos de Creart</a></strong>
                
            </p>
        </div>
    </div>
    <div>
        <h2>Ambitos de Actuación</h2>
        <div class="cards-container width-content">
            <article class="card2">
                <h3>Ámbito Internacional</h3>
                <img src="/img/nosotros/ambInter.avif" alt="niños y niñas pintando">
                <div class="card-content">
                  <p>Trabajamos en zonas de Oriente Próximo, de África y de América Latina con diferentes líneas de programas, mediante proyectos educativos con las poblaciones infantiles más vulnerabilizadas y sus educadores/as; programas de acompañamiento psicosocial con personas refugiadas (especialmente mujeres); y programas que refuerzan las sociedades civiles. Utilizamos el arte de manera terapéutica con los colectivos que sufren situaciones complejas como consecuencia de conflictos bélicos, desastres naturales u otras situaciones extremas.</p>
                </div>
              </article>
          
                <article class="card2">
                    <h3>Ambito Local</h3>
                    <img src="/img/nosotros/ambNac.avif" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
                    <div class="card-content">
                    <p>Trabajamos en el marco de la educación para la justicia global y la educación para la paz en nuestro país para fomentar una conciencia crítica que promueve actitudes socialmente activas y transformadoras. En el marco de la educación transformadora encontramos una herramienta para afrontar los conflictos de manera positiva y pedagógica, y para promover la creatividad, la confianza, la autoestima, el respeto hacia los demás y la participación consciente y activa de las personas.
                    Nuestros proyectos se concretan en talleres creativos con niños y jóvenes, así como en la formación de profesorado de escuelas e institutos, educadores/as del ocio y trabajadores/as sociales con el fin de difundir y proporcionar nuevas herramientas en la asistencia psicosocial en la infancia, la educación artística y la cultura de paz.</p>
                    </div>
                </article>
            </div>

    </div>
    






</main>







<%- include('templates/footer.ejs') %>