<%- include('templates/header.ejs') %>
<h2 style="margin-bottom: 50px; margin-top: 50px;">Noticias y Eventos</h2>
<main class="cards-container width-content">
  <article class="card">
    <img
      src="/img/noticias-eventos/memoria.jpg"
      alt="imagen de aves hechas de manualidades muy coloridas, colgadas en cuerdas en un arbol"
    />
    <div class="card-content">
      <h3>Memoria</h3>
      <p>
        Creart publica anualmente la memoria de actividades donde se recogen todos los proyectos y actividades que realizamos a lo largo del año. Aquí encontrarás toda la información sobre el área de Cooperación Internacional y Educación para La Justicia Global, así como la memoria económica anual.
      </p>
      <a href="/memoria" class="btn">Leer más</a>
    </div>
  </article>

  <article class="card">
    <img
      src="/img/noticias-eventos/redes.jpg"
      alt="Hombre feliz con los ojos tapados con una venda"
    />
    <div class="card-content">
      <h3>Redes de Colaboraciónes</h3>
      <p>
        En Creart estamos convencidos del enorme potencial del trabajo en red y la necesidad de conectar nuestro trabajo con el de otras organizaciones para poder alcanzar juntos éxitos comunes.
      </p>
      <a href="/redes" class="btn">Leer más</a>
    </div>
  </article>


  <article class="card">
    <img
      src="/img/noticias-eventos/boletin.jpg"
      alt="Hombres y mujeres pintando juntos en el suelo"
    />
    <div class="card-content">
      <h3>Boletín</h3>
      <p>
        Creart informa regularmente a sus socias y socios sobre los proyectos en marcha, actividades, noticias y artículos de interés. Aquí puedes acceder al último boletín.
        Si eres socio/a de Creart y no recibes nuestro boletín, o si no eres socia/o pero quieres recibirlo, ponte en contacto con nosotros a través de nuestro Correo de Atención: info@creart.org.es
      </p>
      <a href="/boletin" class="btn">Leer más</a>
    </div>
  </article>
</main>
<%- include('templates/footer.ejs') %>
