<%- include('templates/header.ejs') %>
<h2 style="margin-bottom: 50px">Nuestros proyectos</h2>
<main class="cards-container width-content">
  <article class="card">
    <img
      src="/img/nuestros-proyectos/cooperacion-internacional.jpg"
      alt="Hombre feliz con los ojos tapados con una venda"
    />
    <div class="card-content">
      <h3>Cooperación internacional</h3>
      <p>
        Nuestras intervenciones en el ámbito de la cooperación internacional
        sitúan a las organizaciones y personas con las que trabajamos en el
        centro de los proyectos para contribuir a un desarrollo viable y
        sostenible que respete las culturas locales donde las personas
        destinatarias son el motor del cambio.
      </p>
      <a href="/cooperacion-internacional" class="btn">Leer más</a>
    </div>
  </article>

  <article class="card">
    <img
      src="/img/nuestros-proyectos/justicia-global.jpg"
      alt="Niña palestina feliz mostrnado las manos con pinturas de colores"
    />
    <div class="card-content">
      <h3>Justicia global</h3>
      <p>
        Desde Creart trabajamos para garantizar el derecho a la educación en
        plenitud de niños y jóvenes también a nivel local. Mediante el arte y la
        creatividad, facilitamos herramientas y recursos a maestros y
        educadores/as para reforzar su tarea a la hora de promover una
        conciencia crítica para con las causas que generan violencias
      </p>
      <a href="/justicia-global" class="btn">Leer más</a>
    </div>
  </article>

  <article class="card">
    <img
      src="/img/nuestros-proyectos/que-ofrecemos.jpg"
      alt="Hombres y mujeres pintando juntos en el suelo"
    />
    <div class="card-content">
      <h3>¿Qué ofrecemos?</h3>
      <p>
        Hacia la creación una ciudadanía más crítica, comprometida y activa,
        Creart se ha especializado en la introducción del arte y la creatividad
        como herramientas para trabajar educación para la justicia global,
        educación para la paz, equidad de género, coeducación,
        interculturalidad, derechos humanos y participación ciudadana.
      </p>
      <a href="/que-ofrecemos" class="btn">Leer más</a>
    </div>
  </article>

  <article class="card2">
    <img
      src="/img/nuestros-proyectos/galeria.png"
      alt="imagen de aves hechas de manualidades muy coloridas, colgadas en cuerdas en un arbol"
    />
    <div class="card-content">
      <h3>Galería</h3>
      <p>
        NUESTRO TRABAJO EN IMÁGENES. <br />
        A continuación te mostramos una selección fotográfica de nuestros
        últimos proyectos
      </p>
      <a href="/galeria" class="btn">Ir a la galería</a>
    </div>
  </article>
</main>

<%- include('templates/footer.ejs') %>
