<%- include('templates/header.ejs') %>

<main class="cards-container width-content">


    <article class="card">
      <img src="/img/nuestros-proyectos/cooperacion-internacional.jpg" alt="Hombre feliz con los ojos tapados con una venda">
      <div class="card-content">
        <h3>Cooperación internacional</h3>
        <p>Nuestras intervenciones en el ámbito de la cooperación internacional sitúan a las organizaciones y personas con las que trabajamos en el centro de los proyectos para contribuir a un desarrollo viable y sostenible que respete las culturas locales donde las personas destinatarias son el motor del cambio.</p>
        <a href="/cooperacion-internacional" class="btn">Leer más</a>
      </div>
    </article>

    <article class="card">
        <img src="/img/nuestros-proyectos/justicia-global.jpg" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
        <div class="card-content">
          <h3>Justicia global</h3>
          <p>Desde Creart trabajamos para garantizar el derecho a la educación en plenitud de niños y jóvenes también a nivel local. Mediante el arte y la creatividad, facilitamos herramientas y recursos a maestros y educadores/as para reforzar su tarea a la hora de promover una conciencia crítica para con las causas que generan violencias</p>
          <a href="/justicia-global" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card">
        <img src="/img/paises/afganistan.jpg" alt="Niñas afganas pintando con pinceles">
        <div class="card-content">
          <h3>Afganistán</h3>
          <p>Desde Creart trabajamos para garantizar el derecho a la educación en plenitud de niños y jóvenes también a nivel local. Mediante el arte y la creatividad, facilitamos herramientas y recursos a maestros y educadores/as para reforzar su tarea a la hora de promover una conciencia crítica para con las causas que generan violencias</p>
          <a href="/afganistan" class="btn">Leer más</a>
        </div>
      </article>
  

      <article class="card">
        <img src="/img/paises/senegal.jpg" alt="Niñas de senegal con colores y una hoja en blanco sonriendo">
        <div class="card-content">
          <h3>Senegal</h3>
          <p>Creart trabaja en la protección de la infancia y el apoyo a las personas con diversidad funcional en colaboración con organizaciones locales e internacionales.</p>
          <a href="/senegal" class="btn">Leer más</a>
        </div>
      </article>
  
  
      
  </main>
<%- include('templates/footer.ejs') %>