<%- include('templates/header.ejs') %>

<main class="cards-container width-content">
    <article class="card">
      <img src="/img/paises/iran.jpg" alt="Imagen de niña pintando en iran">
      <div class="card-content">
        <h3>Irán</h3>
        <p>Creart apoya a las personas afganas refugiadas en Irán a través de la colaboración con los proyecto educativos que Norwegian Refugee Council realiza en los campos de refugiados del país.</p>
        <a href="/iran" class="btn">Leer más</a>
      </div>
    </article>

    <article class="card">
        <img src="/img/paises/Palestina.jpg" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
        <div class="card-content">
          <h3>Palestina</h3>
          <p>Creart está ofreciendo apoyo psicosocial a la población refugiada más antigua del mundo, en una de las crisis humanitarias más larga y devastadora de la historia contemporánea.</p>
          <a href="/palestina" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card">
        <img src="/img/paises/afganistan.jpg" alt="Niñas afganas pintando con pinceles">
        <div class="card-content">
          <h3>Afganistán</h3>
          <p>Creart apoya a las personas afganas desplazadas en Afganistán a través de la colaboración con los proyecto educativos que Norwegian Refugee Council realiza en Kabul.</p>
          <a href="/afganistan" class="btn">Leer más</a>
        </div>
      </article>
  

      <article class="card">
        <img src="/img/paises/senegal.jpg" alt="Niñas de senegal con colores y una hoja en blanco sonriendo">
        <div class="card-content">
          <h3>Senegal</h3>
          <p>Creart trabaja en la protección de la infancia y el apoyo a las personas con diversidad funcional en colaboración con organizaciones locales e internacionales.</p>
          <a href="/senegal" class="btn">Leer más</a>
        </div>
      </article>
  

      <article class="card">
        <img src="/img/paises/tailandia.jpg" alt="Niño puntando una pared azul con peces de colores">
        <div class="card-content">
          <h3>Tailandia</h3>
          <p>Creart dio apoyo psicosocial a los niños y niñas sobrevivientes del tsunami</p>
          <a href="/tailandia" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card">
        <img src="/img/paises/mexico.jpg" alt="Mujeres mexicanas haciendo manualidades muy felices">
        <div class="card-content">
          <h3>Mexico</h3>
          <p>Creart colabora con las organizaciones locales y El Rebozo y Tsomanotik dando apoyo psicosocial en el abordaje de las distintas violencias que sufren niñas, niños, jóvenes y mujeres en el estado de Chiapas.</p>
          <a href="/mexico" class="btn">Leer más</a>
        </div>
      </article>
  
      
  </main>
<%- include('templates/footer.ejs') %>