<%- include('templates/header.ejs') %>

<main class="cards-container width-content">
    <article class="card">
      <img src="https://via.placeholder.com/150" alt="Imagen de ejemplo">
      <div class="card-content">
        <h3>Título de la Card</h3>
        <p>Descripción corta de la card. Puedes añadir aquí más detalles sobre el contenido que deseas mostrar.</p>
        <a href="#" class="btn">Leer más</a>
      </div>
    </article>

    <article class="card">
        <img src="/img/paises/Palestina.jpg" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
        <div class="card-content">
          <h3>Palestina</h3>
          <p>Creart está ofreciendo apoyo psicosocial a la población refugiada más antigua del mundo, en una de las crisis humanitarias más larga y devastadora de la historia contemporánea.</p>
          <a href="/palestina" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card">
        <img src="https://via.placeholder.com/150" alt="Imagen de ejemplo">
        <div class="card-content">
          <h3>Título de la Card</h3>
          <p>Descripción corta de la card. Puedes añadir aquí más detalles sobre el contenido que deseas mostrar.</p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </article>
  

      <article class="card">
        <img src="https://via.placeholder.com/150" alt="Imagen de ejemplo">
        <div class="card-content">
          <h3>Título de la Card</h3>
          <p>Descripción corta de la card. Puedes añadir aquí más detalles sobre el contenido que deseas mostrar.</p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </article>
  

      <article class="card">
        <img src="https://via.placeholder.com/150" alt="Imagen de ejemplo">
        <div class="card-content">
          <h3>Título de la Card</h3>
          <p>Descripción corta de la card. Puedes añadir aquí más detalles sobre el contenido que deseas mostrar.</p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card">
        <img src="https://via.placeholder.com/150" alt="Imagen de ejemplo">
        <div class="card-content">
          <h3>Título de la Card</h3>
          <p>Descripción corta de la card. Puedes añadir aquí más detalles sobre el contenido que deseas mostrar.</p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </article>
  

      
  </main>
<%- include('templates/footer.ejs') %>