<%- include('templates/header.ejs') %>
<main class="width-content">
<h2 class="title-primary">Creart en Palestina</h2>
<p class="paragraph">Creart está ofreciendo apoyo psicosocial a la población refugiada más antigua del mundo, en una de las crisis humanitarias más larga y devastadora de la historia contemporánea</p>
<h3 class="title-secondary">Marco Histórico</h3>
<p class="paragraph">Cerca de 5 millones de palestinos viven bajo una ocupación militar que se prolonga desde 1967 y niega sistemáticamente los derechos humanos básicos, dividiendo geográficamente el Estado de Palestina en dos regiones: Cisjordania y la Franja de Gaza.

    Con una superficie de sólo 365 km2, la Franja de Gaza es una de las entidades políticas más densamente pobladas del mundo. Sus 2 millones de habitantes dependen casi totalmente de la ayuda internacional y más de dos tercios de su población es refugiada. El conflicto, el bloqueo y el aislamiento político han hundido la economía de la Franja de Gaza, sumiendola en la pobreza, la inseguridad alimentaria y la mayor tasa de desempleo del mundo. Las personas están sujetas a restricciones de movimientos y severas limitaciones en el acceso a los servicios esenciales.
    
    La situación de la infancia es especialmente preocupante, los niños y niñas menores de 3 años han vivido como mínimo una guerra y con 8 años ya han experimentado 3 rondas de hostilidades armadas. Cerca de 250.000 niños padecen desórdenes de salud mental y uno de cada cuatro necesita apoyo psicosocial debido a un trauma pasado.
    
    En Cisjordania, con 5.500 km2 y una población de unos 2,4 millones de personas, la presión sobre la población palestina proviene de la expansión de los asentamientos, la violencia de los colonos, la demolición y confiscación de propiedades y los desalojos. Los refugiados beduinos corren el riesgo de ser desplazados de sus hogares por la fuerza.
    
    La población árabe de Jerusalén vive en permanente crisis por culpa de las violaciones sistemáticas de sus derechos de residencia, planificación urbanística y servicios básicos.</p>

<h4 class="title-tertiary">Intervención de Creart</h4>
<ul class="list">
    <li class="list-item">Ayudamos a los palestinos afectados o amenazados por el desplazamiento en Gaza y Cisjordania</li>
    <li class="list-item">Hacemos acompañamiento psicosocial  a grupos de población refugiada o desplazada formados mayoritariamente por niños y mujeres en situación de vulnerabilidad social.</li>
    <li class="list-item">Realizamos formaciones para grupos de educadores voluntarios de las contrapartes locales en campos de refugiados y zonas periféricas rurales per a dotar-les d’eines per a l’acompanyament psicosocial de la infància a través de l’art, donant així recolzament als programes d’atenció psicològica i sanitària de les organitzacions locals.</li>
    <li class="list-item">También realizamos formación para grupos de counselors de la Agencia de las Naciones Unidas para las personas refugiadas palestinas en Oriente Medio (UNRWA).</li>
</ul>
</main>
<%- include('templates/footer.ejs') %>