<%- include('templates/header.ejs') %>
<h2 style="margin-bottom: 50px; margin-top: 50px;">Participa</h2>
<main class="cards-container width-content">
  <article class="card">
    <img
      src="/img/participa/asociate.jpg"
      alt="imagen de aves hechas de manualidades muy coloridas, colgadas en cuerdas en un arbol"
    />
    <div class="card-content">
      <h3>Asociate</h3>
      <p>
        Hacerte socio de Creart significa que apuestas por una educación creativa y que crees en su potencial transformador. Apoyándonos, ayudas a garantizar que muchos niños y niñas puedan disfrutar de una educación en valores y cambiar sus realidades.
      </p>
      <blockquote>
        <p><span>"Sé tú el cambio que quieres ver en el mundo"</span>  — Mahatma Gandhi</p>
    </blockquote>
      <a href="/asociate" class="btn">Hazte Socio</a>
    </div>
  </article>

  <article class="card">
    <img
      src="/img/participa/donacion.jpg"
      alt="Hombre feliz con los ojos tapados con una venda"
    />
    <div class="card-content">
      <h3>Haz una Donación</h3>
      <p>
        Nos gusta saber que gente comprometida como tú, nos quiere dar una mano para seguir con nuestro objetivo. Gracias a tu donativo nos acercamos a contribuir a que más niños puedan beneficiarse de las acciones transformadoras que ofrecemos desde Creart. Toda aportación es significativa y aporta un gran capital humano en el trabajo que desarrollamos.</p>     
        <a href="/donacion" class="btn">Donar</a>
    </div>
  </article>

  <article class="card">
    <img
      src="/img/participa/unete.jpg"
      alt="Hombres y mujeres pintando juntos en el suelo"
    />
    <div class="card-content">
      <h3>Únete al equipo</h3>
      <p>
        Si te identificas con el trabajo que realizamos y quieres <span>formar parte del equipo o colaborar como voluntario/a</span>, envíanos tu CV a nuestro correo de Atención General: info@creart.org.es</p>
      </p>
      <a href="/unete" class="btn">Únete</a>
    </div>
  </article>

  <article class="card">
    <img
      src="/img/noticias-eventos/boletin.jpg"
      alt="Hombres y mujeres pintando juntos en el suelo"
    />
    <div class="card-content">
      <h3>Legado Solidario</h3>
      <p>
        Tu compromiso con nuestra causa social se puede prolongar en el tiempo a través del legado solidario. Existe la posibilidad de que nos incluyas a una o varias ONG en tu testamento, tú continuarás contribuyendo en nuestros proyectos y nosotros heredamos tu entusiasmo y tu solidaridad.      </p>
        <blockquote>
            <p><span>"La solidaridad no es un acto de caridad, sino una ayuda mutua entre fuerzas que luchan por el mismo objetivo "</span>  — Samora Machel</p>
        </blockquote>
      <a href="/legado" class="btn">Solicita mas información</a>
    </div>
  </article>
</main>
<%- include('templates/footer.ejs') %>
