<%- include('templates/header.ejs') %>

<main class="width-content">
    <div>
        <h2 class="title-primary">Principios</h2>
        <div class="paragraph">
            <p><strong>Nuestros valores</strong>, vinculados a nuestros objetivos y promovidos a través de la acción directa en contextos locales e internacionales, y en determinados espacios de participación, son los siguientes:
            </p>
        </div>
    </div>
    <div class="organizations">
        <p class="paragraph">Justicia global y defensa de los derechos humanos: trabajamos desde la idea de ciudadanía global, en la corresponsabilidad frente a las desigualdades, las injusticias y la defensa de los derechos humanos especialmente de los grupos más vulnerabilizados. Conectando la acción local y la global en los distintos países donde llevamos a cabo nuestros proyectos.</p>
        <p class="paragraph">La Educación en el centro de la resolución positiva de los conflictos: trabajamos para garantizar la educación de calidad para todos los niños; entendemos los espacios educativos como los esenciales para trabajar la conciencia crítica de la ciudadanía y la toma de conciencia sobre derechos y deberes.</p>
        <p class="paragraph">El Arte como herramienta para la transformación social: recuperamos la idea de la creatividad como bien común e inherente a toda persona y ponemos la propuesta artística al servicio de procesos de crecimiento personal y colectivo.</p>
        <p class="paragraph">Los valores y emociones en el centro de la transformación: el centro de nuestras acciones lo ocupan el cuidado, el respeto, la empatía y otros valores que favorecen la cohesión de los grupos y comunidades y el fortalecimiento de los vínculos de cooperación entre los distintos agentes con los que actuamos.</p>
        <p class="paragraph">
            <strong><a href="https://www.creart.org.es/wp-content/uploads/2024/04/codi-etic-Creart-1.pdf" target="_blank">Consulta nuestro código etico</a></strong><br>
            <strong><a href="https://www.creart.org.es/wp-content/uploads/2024/04/protocol-intern-igualtat-genere-Creart.pdf" target="_blank">Consulta nuestro plan de igualdad</a></strong><br>
            <strong><a href="https://www.creart.org.es/wp-content/uploads/2024/04/Protocol-contra-les-agressions-masclistes-i-lgtbifobiques-Creart.pdf" target="_blank">Consulta nuestro protocolo de actuación en caso de actos machistas o lgtbifobicos</a></strong></p>
      </div>
</main>

<%- include('templates/footer.ejs') %>