<%- include('templates/header.ejs') %>

<!-- aqui viene la estructura formal -->

<main>
    <h2 style="margin-bottom: 50px; margin-top: 50px;">Educación Formal</h2>
    <div class="cards-container width-content">
    <article class="card">
        <img src="/img/que-ofrecemos/patios-escolares.jpg" alt="Hombre feliz con los ojos tapados con una venda">
        <div class="card-content">
          <h3>Proyectos de diseño de patios escolares</h3>
          <p>Creamos la estrategia de trabajo y acompañamos a los equipos en la planificación, la identificación y el diseño para la transformación de patios escolares desde la coeducación y la atención a la diversidad.</p>
          <a href="/patios-escolares" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card">
          <img src="/img/que-ofrecemos/educacion-transformadora.jpg" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
          <div class="card-content">
            <h3>Talleres de educación transformadora para infancia en centros educativos</h3>
            <p>Las formaciones de profesorado se diseñan teniendo en cuenta las necesidades de cada escuela.

                Somos expertos en la utilización del arte y la creatividad en la educación para la paz y la educación emocional y en valores.</p>
            <a href="/educacion-transformadora" class="btn">Leer más</a>
          </div>
        </article>
    
        <article class="card">
          <img src="/img/que-ofrecemos/formacion-profesorado.jpg" alt="Hombres y mujeres pintando juntos en el suelo">
          <div class="card-content">
            <h3>Formaciones y acompañamiento a centros educativos</h3>
            <p>Hacia la creación una ciudadanía más crítica, comprometida y activa, Creart se ha especializado en la introducción del arte y la creatividad como herramientas para trabajar educación para la justicia global, educación para la paz, equidad de género, coeducación, interculturalidad, derechos humanos y participación ciudadana.</p>
            <a href="/formacion-profesorado" class="btn">Leer más</a>
          </div>
        </article>
    </div>
<!-- aqui viene la estructura no formal -->
    <h2 style="margin-bottom: 50px; margin-top: 50px;">Educación No Formal</h2>
    <div class="cards-container width-content">
    <article class="card">
        <img src="/img/que-ofrecemos/educadores-lleure.jpg" alt="Hombre feliz con los ojos tapados con una venda">
        <div class="card-content">
          <h3>Formaciones para educadores/as del lleure</h3>
          <p>Asesoramientos técnicos y formaciones en educación para la paz, educación emocional y en valores, así como en educación para la justicia global a través de metodologías creativas educadores/as o responsables pedagógicos/as de espacios de ocio educativo.</p>
          <a href="/educadores-lleure" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card">
          <img src="/img/que-ofrecemos/aprendizaje-servicio.jpg" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
          <div class="card-content">
            <h3>Proyectos de aprendizaje y servicio</h3>
            <p>Diseñados conjuntamente con otras entidades, centros educativos, etc., abordamos aprendizajes hacia la justicia climática y ambiental, justicia de género, educación en valores y emociones … con una devolución en clave comunitaria.</p>
            <a href="/aprendizaje-servicio" class="btn">Leer más</a>
          </div>
        </article>
    
        <article class="card">
          <img src="/img/que-ofrecemos/centros-abiertos.jpg" alt="Hombres y mujeres pintando juntos en el suelo">
          <div class="card-content">
            <h3>Formaciones para educadores/as de centros abiertos otros espacios municipales</h3>
            <p>Las formaciones en educación para la paz, educación emocional y en valores se adaptan siempre a las necesidades de los centros y se conciben bajo el paraguas de la justicia global.</p>
            <a href="/centros-abiertos" class="btn">Leer más</a>
          </div>
        </article>
    </div>

    <!-- aqui viene la estructura Eventos -->
    <h2 style="margin-bottom: 50px; margin-top: 50px;">Eventos</h2>
    <div class="cards-container width-content">
    <article class="card2">
        <img src="/img/que-ofrecemos/eventos-comunitarios.jpg" alt="Hombre feliz con los ojos tapados con una venda">
        <div class="card-content">
          <h3>Organización de eventos comunitarios</h3>
          <p>Diseñamos y dinamizamos actos o jornadas, instalaciones y encuentros conjuntamente con entidades que celebran efemérides adaptando las propuestas a la naturaleza de cada entidad o administración e incorporando el arte como excusa para abordar de manera amena y motivadora reflexiones sobre retos globales.</p>
          <a href="/eventos-comunitarios" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card2">
          <img src="/img/que-ofrecemos/exposiciones.jpg" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
          <div class="card-content">
            <h3>Exposiciones</h3>
            <p>Exposiciones de fotografías y obras artísticas producidas en el marco de los proyectos que la organización ha llevado a cabo a lo largo de los años. Se diseñan en función de la demanda de los ayuntamientos o equipamientos municipales que las solicitan (centros cívicos, bibliotecas y otros). Enmarcan jornadas, monográficos, etc. con material fruto del trabajo en terreno. <a href="/galeria">Ver galería</a></p>
            <a href="/exposiciones" class="btn">Leer más</a>
          </div>
        </article>
    </div>

    
    <!-- aqui viene la estructura Publicaciones -->
    <h2 style="margin-bottom: 50px; margin-top: 50px;" >Publicaciones</h2>
    <div class="cards-container width-content">
    <article class="card2">
        <img src="/img/que-ofrecemos/caminos-educar.jpg" alt="Hombre feliz con los ojos tapados con una venda">
        <div class="card-content">
          <h3>Arte, creatividad y conflicto. Caminos para educar</h3>
          <p>Dossier editado por Rosa Sensat, con contenidos de Chené Gómez y Marta Mercadé, con el apoyo del Ayuntamiento de Barcelona.
            Como, por qué y de qué manera podemos utilizar el arte y la creatividad para cuestionar, transformar y construir propuestas de mejora ante el mundo que nos rodea. Con recursos prácticos para trabajar en las aulas con los niños y jóvenes.</p>
          <a href="/caminos-educar" class="btn">Leer más</a>
        </div>
      </article>
  
      <article class="card2">
          <img src="/img/que-ofrecemos/libro.jpg" alt="Niña palestina feliz mostrnado las manos con pinturas de colores">
          <div class="card-content">
            <h3>
                Colours in desplacement. Afghan displaced children and youth paint their lives.</h3>
            <p>Este libro es un photobook que recoge el proceso artístico realizado por Creart con población afgana refugiada y desplazada en Irán y Afganistán, en el marco de un proyecto de educación de NRC.</p>
            <a href="/exposiciones" class="btn">Leer más</a>
          </div>
        </article>
    </div>

        <!-- aqui viene la estructura maleta pedagogica -->
        <h2 style="margin-bottom: 50px; margin-top: 50px;">Maleta pedagògica</h2>
        <div class="cards-container width-content">
        <article class="card2">
            <img src="/img/que-ofrecemos/maleta.jpg" alt="Hombre feliz con los ojos tapados con una venda">
            <div class="card-content">
              <h3>La maleta «Caminos y Cruces. Arte y artistas en los libros para niños»</h3>
              <p>Está formada por más de un centenar de libros seleccionados por el equipo de bibliotecarias de la Asociación Rosa Sensat. La maleta está pensada como un recurso para impulsar la lectura, el arte y la creatividad en la educación infantil y primaria.</p>
              <p>Es un recurso a disposición de las escuelas de Cataluña. Acompañan la selección de libros un roll up explicativo y un dossier que recoge todos los títulos y los diferentes módulos (en total, seis) que se proponen para trabajar con la maleta en función de las personas destinatarias: <a href="https://www.rosasensat.org/wp-content/uploads/2019/10/MALETA-Art-i-artistes.pdf" target="_blank">Maleta pedagògica (PDF)</a></p>
              <p>Se puede solicitar a través de la web de Rosa Sensat o contactando directamente con Creart:info@creart.org.es</p>
              <a href="/maleta" class="btn">Leer más</a>
            </div>
          </article>
</main>
<%- include('templates/footer.ejs') %>
