<%- include('templates/header.ejs') %>
<main class="width-content">
  <h2 class="title-primary" style="margin-bottom: 50px; margin-top: 50px">
    Formamos parte de las siguientes redes y plataformas
  </h2>
  <div class="organizations">
    <p class="paragraph">
      Artibarri, una xarxa a favor del desenvolupament de projectes artístics
      d’acció comunitària.
    </p>
    <p class="paragraph">Consell d’Innovació Pedagògica (en tràmit)</p>
    <p class="paragraph">Educació 360</p>
    <p class="paragraph">
      Grups de treball vinculats a la creació i el desenvolupament de
      l’estratègia de la Direcció de Justícia Global de l’Ajuntament de
      Barcelona.
    </p>
    <p class="paragraph">
      Lafede.cat, Organitzacions per a la Justícia Global. Eix d’Educació i Grup
      de Palestina de Lafede.cat
    </p>
    <p class="paragraph">
      Red Española de la Fundación Anna Lindh (REFAL), coordinada per l’IEMeD
    </p>
  </div>
  <h2 class="title-primary" style="margin-bottom: 50px; margin-top: 50px">
    Colaboramos con las siguientes organizaciones:
  </h2>
  <div class="organizations">
    <p class="paragraph">Art&Coop</p>
    <p class="paragraph">Assemblea de Cooperació per la Pau</p>
    <p class="paragraph">Associació de Mestres Rosa Sensat</p>
    <p class="paragraph">Casa Nostra, Casa Vostra</p>
    <p class="paragraph">Coeducacció</p>
    <p class="paragraph">Consorci d’Educació de Barcelona</p>
    <p class="paragraph">Edualter</p>
    <p class="paragraph">El gecko con botas</p>
    <p class="paragraph">
      Equipaments municipals dels diferents districtes de Barcelona
    </p>
    <p class="paragraph">Escola Cultura de Pau i la Fundació Solidaritat UB</p>
    <p class="paragraph">Escola Lliure el Sol</p>
    <p class="paragraph">Filalagulla</p>
    <p class="paragraph">Fundesplai</p>
    <p class="paragraph">Intermón Oxfam</p>
    <p class="paragraph">La Cuentista</p>
    <p class="paragraph">Norwegian Refugee Council (NRC)</p>
    <p class="paragraph">RUIDO Photo</p>
    <p class="paragraph">UNRWA Catalunya</p>
    <p class="paragraph">Xamfrà</p>
  </div>
</main>
<%- include('templates/footer.ejs') %>
