<%- include('templates/header.ejs') %>
<main class="width-content">
<h2>Creart en Senegal</h2>
<p>Creart trabaja en la protección de la infancia y el apoyo a las personas con diversidad funcional en colaboración con organizaciones locales e internacionales.a</p>
<h3>Marco Histórico</h3>
<p>Más de la mitad de la población senegalesa vive por debajo del umbral de pobreza. Su economía está dominada principalmente por el cultivo del cacahuete, la pesca y los servicios. El sector agrícola es el principal proveedor de empleo y recursos, pero atraviesa serias dificultades debido a la falta de equipamiento agrícola moderno, y por ello no cubre las necesidades de consumo de la población. Senegal es un país que depende en gran medida de las importaciones de alimentos básicos como el arroz.
    En Senegal hay unos 50.000 niños mendigos internados en escuelas coránicas, conocidas como dahras, y sometidos a condiciones de vida parecidas a las de la esclavitud. Desde 2005 existe una ley que prohíbe la mendicidad infantil en Senegal, pero ni se cumple ni se aplica. Proceden de pueblos del interior o de países vecinos como Gambia y Guinea Bissau, enviados por sus padres a la ciudad para estudiar en escuelas coránicas donde son obligados a pedir dinero por las calles, el dinero que recaudan sostiene a sus explotadores, marabúes sin escrúpulos que se aprovechan de la pobreza y el analfabetismo de las familias rurales que los dejan en sus manos. Si no cumplen con su cuota diaria, unos 20 céntimos de euro, o si no se aprenden la lección, se exponen a castigos corporales y malos tratos. Cada día, decenas de niños intentan escapar de sus maltratadores, que en ocasiones los encierran o encadenan con grilletes para impedirlo.

Varios organismos internacionales han denunciado la situación de los niños talibés, y el Gobierno ha anunciado muchas veces su intención de regular las daaras para evitar la explotación. Sin embargo, sus intentos chocan con la aceptación de un sistema tradicional de educación en el que los senegaleses siguen confiando.

Como en muchos otros países de África, la insuficiente atención médica y psiquiátrica, el déficit agudo de profesionales especializados, la falta de recursos económicos por parte de las familias y las barreras religiosas y culturales generan deficiencias que, al no ser atendidas en su origen, hacen aumentar el número de personas con diversidad funcional. Al mismo tiempo, provoca un índice bajo de alfabetización de este colectivo (según la UNESCO, un 90% de los niños y niñas con discapacidad no asisten a la escuela en los países en desarrollo), así como la no incorporación al mercado laboral, la carga económica y emocional que les supone a las familias, la ruptura del núcleo familiar y la falta de información y sensibilización hacia este colectivo, lo que empeora considerablemente la situación de exclusión.
</p>

<h4>Intervención de Creart</h4>
<ul>
    <li>Trabajamos en colaboración con la Asociación de personas con discapacidad de Mboro (ASHAM, en sus siglas en francés) en la creación de un centro de de apoyo y formación para personas con diversidad funcional.</li>
    <li>Apoyamos a la organización local Jappoo en sus programas de apoyo y protección de la infancia, tanto a los niños mendigos, proporcionando colchones a las dahras para mejorar el descanso de los niños, como a la población infantil con diversidad funcional.</li>
    <li>Trabajamos en el fortalecimiento de la educación en la aldea costera de Mboro Ndeundekat en colaboración con los educadores locales mejorando las instalaciones escolares y con la creación de un festival infantil anual que integra a niños y niñas de las diferentes etnias de la zona.</li>
</ul>
</main>
<%- include('templates/footer.ejs') %>