<%- include('templates/header.ejs') %>
<main class="width-content">
    <h2 class="title-primary">Creart en Tailandia</h2>
    <p class="paragraph">Creart dio apoyo psicosocial a los niños y niñas sobrevivientes del tsunami.</p>
    <h3 class="title-secondary">Marco Histórico</h3>
    <p class="paragraph">
      El 26 de diciembre de 2004, un potente terremoto submarino de magnitud 9,3 (el segundo terremoto más grande jamás registrado), con epicentro en la costa de Banda Aceh, en Indonesia, originó un tsunami masivo con olas de hasta 30 metros que terminó con las vidas de más de 250.000 personas en 14 países diferentes. Las organizaciones de socorro informaron que casi un tercio de las muertes fueron niños y niñas.
      
      Los países más afectados por este desastre natural fueron Indonesia, Sri Lanka, India y Tailandia. La magnitud de la tragedia provocó una respuesta humanitaria masiva. En total, la comunidad mundial donó más de 7 mil millones de dólares en ayuda humanitaria a los afectados por el terremoto.​
      
      La tragedia dejó en Tailandia más de 5.000 víctimas, siendo la costa de la provincia de Phang Nga la zona más afectada del país.
    </p>
    <h4 class="title-tertiary">Intervención de Creart</h4>
    <ul class="list">
      <li class="list-item">Creart realizó un intenso programa de acompañamiento psicosocial con los niños y niñas sobrevivientes al tsunami. El trabajo se centró en la zona costera de Tailandia más afectada por el desastre natural, la provincia de Phang-Nga.</li>
      <li class="list-item">Las intervenciones se llevaron a cabo en dos espacios diferentes dentro del distrito de Takua Pa: el campo de refugiados levantado con ayuda local e internacional en la localidad de Bang Muang; y la escuela de Nam Kem, una aldea costera completamente arrasada por las olas.</li>
      <li class="list-item">En ambos enclaves Creart organizó durante 4 semanas un programa diario de talleres de acompañamiento psicosocial a través de la expresión plástica con el objetivo urgente de paliar emociones como el miedo, la rabia, la frustración y el dolor de la pérdida. El dibujo obsesivo de olas gigantes destructivas fueron desaparecieron progresivamente de las creaciones dando paso a flores, sonrisas y un mar en calma.</li>
    </ul>
  </main>
<%- include('templates/footer.ejs') %>