<%- include('templates/header.ejs') %>
    <h2 style="margin-bottom: 50px; margin-top: 50px;">Asociate</h2>
<main class="cards-container width-content">
<div class="contenedor-form width-content">
    <div class="unete-texto">
        <p>Si te identificas con el trabajo que realizamos y <strong>quieres formar parte del equipo o colaborar como voluntario/a</strong>, envíanos tu CV a nuestro correo de Atención General: info@creart.org.es <br><br>

            <a href="https://www.creart.org.es/wp-content/uploads/2024/04/Plan-de-voluntariado-1.pdf" target="_blank">Consulta nuestro Plan de Voluntariado [haz click aquí para descargar]</a>
            
             
            
            Otra opción para colaborar con nosotros es hacer tus prácticas de estudios y así sumarte al equipo de personas que trabajamos detrás de los proyectos de Creart cada día.
            
            Creart ha rebut alumnes en pràctiques de les següents institucions:</p>

            <h3 class="title-tertiary">prácticas de estudios</h3>
            <p>Otra opción para <strong>colaborar con nosotros</strong> es hacer tus <strong>prácticas de estudios</strong> y así sumarte al equipo de personas que trabajamos detrás de los proyectos de Creart cada día.</p>

              <div class="organizations">
                <p class="paragraph">Universidad de Barcelona (UB)</p>
                <p class="paragraph">Universidad Autónoma de Barcelona (UAB)</p>
                <p class="paragraph">Instituto Bodoni paraba de Turín, Italia. Proyecto de Nuevos Talentos Graduados.</p>
              </div>
        </div>
</div>
</main>
<%- include('templates/footer.ejs') %>
