/* Contenedor de todas las tarjetas individuales */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

/* Tarjetas */
.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;
    width: 300px;
    height: auto;
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;

}

.card2,
.card3 {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;
    width: 500px;
    transition: box-shadow 0.3s ease;
    margin: 0 auto;
}

/* Imagenes de las tarjetas */
.card img {
    width: 100%;
    height: 25%;
    display: block;
    object-fit: cover;
}

.card2 img {
    width: 100%;
    height: 50%;
    display: block;
    object-fit: cover;
}

.card3 img {
    width: 100%;
    height: 40%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 5px;
}

/* Contenido de las tarjetas */
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;

    h3 {
        font-size: 1.5rem;
    }

    .btn {
        background-color: #fff;
    }

    p {
        font-size: var(--font-size-extra-small);
        color: #666;
    }
}

.card2 .card-content {
    height: 50%;
}

.card3 {
    .card-content {
        height: 60%;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--color-naranja);
        font-weight: bold;
    }

    a:hover {
        color: var(--color-amarillo);
        text-decoration: underline;
    }
}

/* hover tarjetas */

.card:hover,
.card2:hover,
.card3:hover {
    box-shadow: 0 8px 16px var(--color-naranja);
}

.card .btn:hover,
.card2 .btn:hover,
.card3 .btn:hover {
    background-color: var(--color-naranja);
    color: #fff;
}

/* --------------------- medias de las card ---------------------- */

@media (max-width: 768px) {

    .card {
        width: 70%;
        margin-bottom: 20px;
    }

    .card2,
    .card3 {
        width: 80%;
    }

    .card2 img {
        width: 200px;
    }

    .card3 img {
        width: 300px;
    }

}

@media (max-width: 480px) {

    .card-content h3 {
        width: 70%;
        font-size: 1.25rem;
    }

    .card-content p {
        font-size: var(--font-size-extra-small);
    }

    .card2,
    .card3 {
        width: 90%;
    }

    .card2 img {
        width: 150px;
    }

    .card3 img {
        width: 250px;
    }

}