.contenedor-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.form-asociate {
  display: flex;
  width: 400px;
}

.form-texto {
  width: 400px;
  line-height: 2;
}

.input {
  width: 400px;
}

.btn:hover {
  background-color: var(--color-naranja);
  color: #fff;
}

.btn {
  background-color: var(--color-amarillo);
}

form label {
  color: var(--color-naranja);
}

/* ---------- unete ---------- */

.unete-texto {
  width: 800px;
  line-height: 2;
}

.texto-legado {
  font-size: 24px;
  line-height: 2;
}

/* ---------- querys ---------- */

@media (min-width: 769px) and (max-width: 1100px) {
  .width-content {
    max-width: 730px;
    margin: 0 auto;
  }

  .form-asociate,
  .form-texto,
  .input,
  .unete-texto {
    width: 730px;
  }
}

@media (min-width: 551px) and (max-width: 768px) {
  .width-content {
    max-width: 500px;
    margin: 0 auto;
  }

  .form-asociate,
  .form-texto,
  .input,
  .unete-texto {
    width: 500px;
  }
}

@media (min-width: 375px) and (max-width: 550px) {
  .width-content {
    max-width: 330px;
    margin: 0 auto;
  }

  .form-asociate,
  .form-texto,
  .input,
  .unete-texto {
    width: 330px;
  }
}