/* --------------- Estilos generales -------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-naranja: #f58426;
  --color-amarillo: #ffd200;
  --width-content: 1300px;
  --font-family: "Montserrat", sans-serif;
  --font-size-extra-small: 1rem;
  --font-size-small: 1.3rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2rem;
}

.width-content {
  max-width: var(--width-content);
  margin: 0 auto;
}

h2,
h3,
blockquote {
  text-align: center;
  color: var(--color-naranja);
}

a,
p a {
  color: var(--color-naranja);
  font-weight: bold;
}

a:hover,
p a:hover {
  color: var(--color-amarillo);
}

strong {
  color: var(--color-amarillo);

  a {
    text-decoration: none;
    color: var(--color-naranja);
  }

  a:hover {
    color: var(--color-amarillo);
    box-shadow: 0 2px 4px var(--color-naranja);
  }
}


.link-fuerte {
  font-size: var(--font-size-medium);
  color: var(--color-naranja);
  font-weight: bolder;
  text-decoration: none;
}

.link-fuerte:hover {
  color: var(--color-amarillo);
  text-decoration: underline;
}

/* =========================MAIN (PAISES-CARDS Nuestros proyectos)================== */

.container-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

video {
  width: 60vw;
  display: block;
  border-radius: 20px;
  box-shadow: 0 4px 8px var(--color-naranja);
}

.quienes-somos {
  margin: 2rem auto;
}

/* ------------- Carousel ------------------ */
.carousel-indicators button {
  background-color: var(--color-naranja) !important;
}

.carousel-half-height img {
  height: 50vh;
  object-fit: cover;
}

.carousel-caption {
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: var(--color-amarillo);
  }
}

/* =========================MAIN (Nuestros proyectos video youtube resposive)================== */

.video-container {
  position: relative;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;

  iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
}

/* -------------------- Estilo para la imagen del mapa ---------------- */
.img-mapa {
  width: 80%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

@media (max-width: 1100px) {
  .img-mapa {
    max-width: 80%;
    width: 800px;
  }
}

@media (max-width: 768px) {
  .img-mapa {
    max-width: 75%;
  }
}

@media (max-width: 375px) {
  .img-mapa {
    max-width: 70%;
  }
}

/* ------------ Main TEXTO PAISES ------------- */

.title-primary {
  color: var(--color-naranja);
  font-size: 2.5rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.title-secondary {
  color: var(--color-naranja);
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.title-tertiary {
  color: var(--color-naranja);
  font-size: 1.75rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.paragraph {
  margin-bottom: 1em;
  font-size: 1rem;
  line-height: 1.8;
}

.list {
  list-style-type: disc;
  margin: 1em 0 1em 1.5em;
  padding: 0;
}

.list-item {
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {
  .width-content {
    padding: 10px;
  }

  .title-primary {
    font-size: 2rem;
  }

  .title-secondary {
    font-size: 1.75rem;
  }

  .title-tertiary {
    font-size: 1.5rem;
  }

  .paragraph,
  .list-item {
    font-size: 0.95rem;
  }
}

@media (max-width: 375px) {
  .width-content {
    padding: 5px;
  }

  .title-primary {
    font-size: 1.75rem;
  }

  .title-secondary {
    font-size: 1.5rem;
  }

  .title-tertiary {
    font-size: 1.25rem;
  }

  .paragraph,
  .list-item {
    font-size: 0.9rem;
  }

  .list {
    margin: 1em 0 1em 1em;
  }
}

/* ==============================REDES TEXTO ================== */
.organizations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.organizations .paragraph {
  flex: 1 1 calc(50% - 10px);
  font-size: var(--font-size-extra-small);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .organizations .paragraph {
    flex: 1 1 100%;
  }
}