<div class="footer">
    <footer class="width-content">
        <div>
            <a href="/"><img src="/img/logo_creart/logo creart_trasparente.png" alt="logo creart" class="logo-footer"></a>
            <p class="decorador-footer">|</p>

            <a href="/donacion">Donaciones</a>
            <p class="decorador-footer">|</p>

            <a href="/participa">Únete a nosotros</a>
            <p class="decorador-footer">|</p>

            <a href="/desarrolladores">Desarrolladores</a>
            <p class="decorador-footer">|</p>

            <div class="redes-sociales">
                <a href="https://www.instagram.com/creart_ong/" target="_blank"> <img src="/img/icons/ig.png" alt="logo instagram"></a>
                <a href="https://x.com/CreartOng" target="_blank"> <img src="/img/icons/x.png" alt="logo X"></a>
                <a href="https://www.youtube.com/@CreartOrgEs" target="_blank"> <img src="/img/icons/ytb.png" alt="logo youtube"></a>
            </div>
        </div>
        <div>
            <p>Copyright &copy; 2024</p>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>