<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Etiquetas para el SEO -->
  <meta name="author" content="Ivonne Cantor, Alejandro Cortes, Danilo Espinosa" />
  <meta name="description"
    content="Creart es una organización no gubernamental, laica, independiente y sin ánimo de lucro que trabaja para mejorar la calidad de la educación de los niños y niñas, y sus condiciones de vida, utilizando el arte como herramienta de transformación social" />
  <meta name="keywords"
    content="Creart es una organización no gubernamental, laica, independiente y sin ánimo de lucro que trabaja para mejorar la calidad de la educación de los niños y niñas, y sus condiciones de vida, utilizando el arte como herramienta de transformación social" />
  <meta name="copyright" content="Ivonne Cantor, Alejandro Cortes, Danilo Espinosa" />
  <meta name="robots" content="index" />
  <!-- Etiquetas basicas -->
  <title>CreArt</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" href="logos/favicon.jpg" type="image/x-icon" />
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/galeria.css">
  <link rel="stylesheet" href="css/footer.css">

</head>

<body>
  <header>
    <div class="header width-content">
      <a href="/"><img src="img/logo_creart/logo creart_trasparente.png" alt="Logo de la creart" /></a>
      <nav>
        <ul>
          <li><a href="/paises-actuacion">Países de actuación</a></li>
          <li><a href="/nuestros-proyectos">Nuestros proyectos</a></li>
          <li><a href="/noticias-eventos">Noticias y eventos</a></li>
          <li><a href="/participa">Participa</a></li>
          <li><a href="/galeria">Galería</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="espacio-navbar"></div>